.container
  .popup
    .order
      .order-title Ваш заказ
      .order-list
        include ../basket-item/_index.jade 
        include ../basket-item/_index.jade 
        include ../basket-item/_index.jade 
        include ../basket-item/_index.jade 
      .order-sum Итого: 100500 ₽
