@import url('https://fonts.googleapis.com/css?family=Bad+Script|Comfortaa|Lobster|Poiret+One&subset=cyrillic');

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;


    .logo {
      width: 20%;
      font-family: 'Lobster', cursive;
      text-align: center;
      padding: 10px 20px;
    }

    .nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      width: 60%;
      font-family: 'Comfortaa', cursive;
      align-items: center;
      padding: 5px 0;
        &-item {
          width: 33.33%;
          padding: 10px 5%;
          border-right: 1px solid #ccc;
          text-align: center;
          font-size: 14px;
            &:last-child{
              border-right: none;
            }
        }
    }

    .my-order {
      width: 20%;
      display: inline;
      text-align: right;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
        input[type="button"] {
          width: 100%;
          height: 100%;
          font-size: 18px;
          font-weight: bold;
          background-color: lightgrey;
          font-family: 'Comfortaa', cursive;
          padding: 10px 10px;
          border: none;
        }
    }
}
