@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  padding-right: 10px;
  background-color: #fffffe;
  box-shadow: 0 1px 0 0 #d7d8db;
  border-radius: 2px;
  max-height: 80px;

    .logo {
      width: 12%;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
        img {
          margin: 0 auto;
          width: 110px;
          height: auto;
        }
    }

    .nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      width: 60%;
      height: 100%;
      font-family: 'Open Sans', sans-serif;
      padding-top: 13px;
      cursor: pointer;
        &-item {
          padding-right: 50px;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
            &:last-child{
              border-right: none;
            }
        }
    }

    .my-order {
      width: 19%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      max-height: 60px;
      color: #fff;
      background-color: #e06464;
      padding: 20px 10px;
      border-radius: 3px;
      position: relative;
      // margin-left: 60px;
      cursor: pointer;


        .counter {
            display: block;
            background-color: #65bae2;
            color: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0%;
            left: 65%;

              span {
                display: block;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
              }
        }

        .icon {
          position: relative;
          width: 25px;


        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
        .summ {
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 22px;
          // margin-left: 10px;
          text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
          text-align: center;

        }
    }
}
