.header
  .logo
    img(src="../images/logo.png") 
  .nav 
    .nav-item
      |ГЛАВНОЕ МЕНЮ
    .nav-item
      |АКЦИИ
    .nav-item
      |О НАС
  .my-order
    input(type="button" value="МОЙ ЗАКАЗ")  
