.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 20px;
  background-color: #fffffe;
  box-shadow: 0 1px 0 0 #d7d8db;
  border-radius: 2px;
  user-select: none;

    .button-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }

    .logo {
      align-self: center;
      margin-left: 20px;

        img {
          width: 115px;
          height: auto;
        }
    }

    .nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      height: 100%;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;
      user-select: none;

        a {
          color: #000;
        }

        &-item {
          font-family: 'Open sans', sans-serif;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          text-align: center;
          font-size: 18px;
          color: #fff;
          text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.2);
          text-decoration: none;
          background-color: #749fb6;
          padding: 0px 45px;
          border-right: 2px solid #fff;
        }
    }

    .my-order {
      min-width: 205px;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      color: #fff;
      background-color: #4890b6;
      padding: 20px 10px;
      border-radius:  0px 2px 2px 0px;
      position: relative;
      cursor: pointer;
      text-decoration: none;

        .icon {
          position: relative;
          width: 25px;


        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
        .summ {
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 22px;
          text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
          text-align: center;

        }
    }
}
