.header
  .logo
    img(src="../images/logo.png") 
  .nav 
    .nav-item
      |Меню
    .nav-item
      |Акции
    .nav-item
      |О Нас
  .my-order
    .icon 
      img(src="../images/shopping-basket.svg")
      //- .counter 
      //-   span 32
    .summ 
      |100500 ₽
      
      
