@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

.menu {
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  padding-left: 20px;

    &-item {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 11.5px 0;
      border-bottom: 1px solid #ccc;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border: none;
        }
    }
}
