.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  min-width: 205px;
  background-color: #fffffe;
  box-shadow: 0 0 0 1px #e3e4e8;
  border-radius: 2px;
  height: calc(100vh - 120px);
  min-height: 600px;


    &-item {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      text-align: center;
      width: 100%;
      overflow: hidden;
        &:last-child {
          border: none;
        }
    }
}
