.menu

  .menu-item
    |Дессерты
  .menu-item
    |Салаты
  .menu-item
    |Пасты
  .menu-item
    |Основные Блюда
  .menu-item
    |Закуски
  .menu-item
    |Гарниры
  .menu-item
    |Супы
  .menu-item
    |Соусы и Хлеб
  .menu-item
    |Кальяны
  .menu-item
    |Кофе
  .menu-item
    |Чайная карты
  .menu-item
    |Винная карта
  .menu-item
    |Крепкий алкоголь
  .menu-item
    |Пиво
  .menu-item
    |Напитки б/а
