.menu
  .menu-title
    |МЕНЮ
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
  .menu-item
    |Категория
