  .popup-container 
    .order
      .order-title
        |Ваш заказ
      .order-list
        .order-item
          .del
            img(src="./images/delete.svg")
          .name
            |Название блюда
          .price
            |457 ₽
          .count
            input(type="tel" value="1")
          .sum
            |457 ₽    
        .order-item
          .del
            img(src="./images/delete.svg")
          .name
            |Название блюда
          .price
            |457 ₽
          .count
            input(type="tel" value="1")
          .sum
            |457 ₽    
        .order-item
          .del
            img(src="./images/delete.svg")
          .name
            |Название блюда
          .price
            |457 ₽
          .count
            input(type="tel" value="1")
          .sum
            |457 ₽    
        .order-item
          .del
            img(src="./images/delete.svg")
          .name
            |Название блюда
          .price
            |457 ₽
          .count
            input(type="tel" value="1")
          .sum
            |457 ₽    
        .order-item
          .del
            img(src="./images/delete.svg")
          .name
            |Название блюда
          .price
            |457 ₽
          .count
            input(type="tel" value="1")
          .sum
            |457 ₽    
        .order-item
          .del
            img(src="./images/delete.svg")
          .name
            |Название блюда
          .price
            |457 ₽
          .count
            input(type="tel" value="1")
          .sum
            |457 ₽    
      .order-sum
          |Итого: 100500 ₽
