doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script.
    require('initialize.js');
    
  title MAO Lounge-Bar
    
  body 
  
.container
  .menu-wrapper
    a.kitchen(href="./index.html") КУХНЯ 
    a.bar(href="./index.html") БАР
    a.smoke(href="./index.html") КАЛЬЯН
