doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script.
    require('initialize');
    
  title MAO Lounge-Bar
    
  body 

  .popup
    include basket.static.jade
  .container
    include  ./components/header/_index.jade
    .food
      .food-list
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 
        include ./components/card/_index.jade 

      include ./components/menu/_index.jade
