doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script.
    require('initialize');
    
  title MAO Lounge-Bar
    
  body 

    .container
      .header
        .logo
          |Основное Меню   
        .nav 
          .nav-item
            |Главное меню
          .nav-item
            |Акции
          .nav-item
            |О Нас
        .my-order
          input(type="button" value="Мой заказ")  
      .food
        .food-list
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
              img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
          .food-item
            .food-img
                img(src="../images/food.png")
            .food-name
              |Название еды
  
        .menu
          .title
            |МЕНЮ
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
          .menu-item
            |Категория
