doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script.
    require('initialize');
    
  title MAO Lounge-Bar
    
  body 
    .container
      .wrapper
        .product
          .product-name
            |Название Товара
          .product-image
            img(src="../images/food_1.png")
          .product-description
            |Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          .product-weight 
            input(type="button" class="add-to-card" value="Добавить за 457 ₽")
            | 9999 гр
          
        .recommend
          .recommend-title
            |Рекомендуем
          .recommend-product
            include ./components/card/_index.jade 
          .recommend-product
            include ./components/card/_index.jade 
          .recommend-product
            include ./components/card/_index.jade 
        
