doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script.
    require('initialize');
    
  title MAO Lounge-Bar
    
  body.product-page 
    .container
      .wrapper
        .title 
          .name Lorem Ipsum
          a.back(href="javascript:history.back()") 
              img(src="./images/back.svg")
        .product
          .product-image
            img(src="./images/food_1.png")
          .product-info
            .product-description
              |Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
              
            .add-button 
              .weight 9999 гр 
              input.add-to-card.add-to-card_product-view(type="button" value="Добавить за 457 ₽")
          
      .recommend
        .recommend-title
          |Рекомендуем
        .recommend-product
          include ./components/card/_index.jade 
          include ./components/card/_index.jade 
          include ./components/card/_index.jade 

        
