@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab&subset=cyrillic');

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #edeef0;
  overflow-x: hidden;
}


.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


.food {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

    &-list {
      display: flex;
      width: 80%;
      flex-flow: row wrap;
      justify-content: flex-start;
      overflow-y: scroll;
      padding-right: 2%;
      max-height: calc(100vh - 120px);

        .food-item:nth-child(2n), {
          background-image: url(../images/food-item2.jpg);
        }
        .food-item:nth-child(2n+1) {
          background-image: url(../images/food-item3.jpg);
        }
    }
}
@import "../components/header/_index.scss";
@import "../components/card/_index.scss";
@import "../components/menu/_index.scss";
@import "../components/basket-popup/_index.scss";
