@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700');
  // font-family: 'Lobster', cursive;
  // font-family: 'Comfortaa', cursive;
  // font-family: 'Poiret One', cursive;
  // font-family: 'Bad Script', cursive;
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #edeef0;
  overflow-x: hidden;
}


.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.order-page {
    position: absolute;
    width: 565px;
    transform: translateX(110%);
    top: 100px;
    right: 0;
    // transform: translateX(0);
    // top: 100px;
    // right: 0;
    z-index: 1;

}

.food {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

    &-list {
      display: flex;
      width: 80%;
      flex-flow: row wrap;
      justify-content: flex-start;
      overflow-y: scroll;
      padding-right: 20px;
      max-height: calc(100vh - 120px);
    }
}
@import "../components/header/index.scss";
@import "../components/card/index.scss";
@import "../components/menu/index.scss";
