@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700');
  // font-family: 'Lobster', cursive;
  // font-family: 'Comfortaa', cursive;
  // font-family: 'Poiret One', cursive;
  // font-family: 'Bad Script', cursive;
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}


.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #f1f1f1;
}

.popup {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    z-index: 1;
    border: 1px red solid;
}

.food {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

    &-list {
      display: flex;
      width: 80%;
      flex-flow: row wrap;
      justify-content: flex-start;
      overflow-y: scroll;
      max-height: calc(100vh - 100px);
    }
}
@import "../components/header/index.scss";
@import "../components/card/index.scss";
@import "../components/menu/index.scss";
