.container {
min-width: 800px;
}

.wrapper {
  padding: 10px 0;
  max-height: 100vh;
  min-height: 700px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.title {
  background-color: white;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 1px 0 0 #d7d8db;

}

.product {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Open sans', sans-serif;
  align-self: flex-start;
  padding: 20px 30px;


    &-image {
        position: relative;
        width: 50%;

        img {
            display: block;
            width: 100%;
        }
    }

    &-info {
      padding-left:20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
    }

    &-description {
      display: block;
      height: 50%;
      font-size: 14px;
        .weight {
          font-size: 12px;
          font-style: italic;
          margin-top: 10px;
        }
    }

    &-weight {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      height: 50%;

        input {
          margin-top: 2%;
        }
    }
}

.add-to-card {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  background-color: #e06464;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;

    &_product-view {
      padding: 10px 60px;
    }
}

.recommend {
  font-family: 'Open sans', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px 30px 30px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 1px #d7d8db;

    &-title {
      font-family: 'Roboto Slab', serif;
      text-align: center;
      width: 100%;
      padding: 20px 0;
    }
    &-product {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;

      .food-item {
        margin: 0;
        width: 30%;
        min-height: 180px;

          .add-to-card {
            position: absolute;
            bottom: 10px;
            left: 10px;
          }
        }
      }
}
