@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.title {
  width: 100%;
  font-family: 'Open sans', sans-serif;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px #e0e0e0 solid;

}

.product {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Open sans', sans-serif;
  align-self: flex-start;
  padding-top: 20px;


    &-image {
        position: relative;
        width: 50%;

        img {
            display: block;
            width: 100%;
        }
    }

    &-info {
      padding: 0 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
    }

    &-description {
      display: block;
      height: 50%;
      font-size: 14px;
        .weight {
          font-size: 12px;
          font-style: italic;
          margin-top: 10px;
        }
    }

    &-weight {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      height: 50%;

        input {
          margin-top: 2%;
        }
    }
}

.add-to-card {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  background-color: #e06464;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  &_product-view {
    padding: 15px 30px;
  }
}

.recommend {
  font-family: 'Open sans', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;

    &-title {
      text-align: center;
      width: 100%;
      padding: 20px 0;
    }
    &-product {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
      padding: 0 0 20px 0;

      .food-item {
        margin: 0;
        width: 30%;
        min-height: 180px;

          .add-to-card {
            position: absolute;
            bottom: 10px;
            left: 10px;
          }
        }
      }
}
