@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

}

.product {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;

    &-image {
        img {
          display: block;
          width: 50%;
          height: auto;
        }
    }
}

.add-to-card {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  background-color: #e06464;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.recommend {
padding: 5px;
border: 2px red solid;
width: 30%;

  &-product {
    .food-item {
      margin-left: 0;
      width: 100%;
        .add-to-card {
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
    }
  }
}
