@import url('https://fonts.googleapis.com/css?family=Bad+Script|Comfortaa|Lobster|Poiret+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

  .food {
    &-item {
      margin-left: 2%;
      margin-bottom: 2%;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      width: 31.3%;
      min-height: 233.55px;
      position: relative;
      background: url("../images/food_1.png") center center no-repeat;
      background-size: cover;
      box-shadow:0 0 0 128px rgba(0, 0, 0, 0.33) inset;
      padding: 10px 10px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

      &-name {
      font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-align: left;
        color: white;
          span {
            margin-left: 5px;
            font-size: 11px;
          }
      }

      // &-description {
      //   font-family: 'Russo One';
      //   font-size: 11px;
      //   font-weight: 100;
      // }

      // &-img {
      //   img {
      //     display: block;
      //     width: 100%;
      //   }
      // }

      .add-to-card {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 10px;
        // background-color: #59ABE3;
        background-color: #e06464;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 3px;
      }
      // .add-to-card {
      //   position: absolute;
      //   width: 35px;
      //   height: auto;
      //   top: -7px;
      //   right: -7px;
      //
      //   img {
      //     width: 100%;
      //     display: block;
      //   }
      // }
  }
