a.food-item(href="/product.html")
    .food-name
      |Название блюда
    .food-weight
      |1000 гр
    .food-price
      input(type="button" class="add-to-card" value="Добавить за 457 ₽")
        
