@import url('https://fonts.googleapis.com/css?family=Bad+Script|Comfortaa|Lobster|Poiret+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic');


  .food {
    &-item {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      width: 30%;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
      margin-bottom: 2.2vw;
      margin-right: 5%;
      padding: 5px 5px;
      position: relative;
      background-color: white;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

      &-name {
        font-family: 'Russo One', sans-serif;
        text-align: left;
        padding: 5px 5px;
      }

      &-description {
        font-family: 'Russo One';
        font-size: 11px;
        font-weight: 100;
      }

      &-img {
        img {
          display: block;
          width: 100%;
        }
      }

      &-price {
        font-family: 'Russo One', sans-serif;
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 0;
        overflow: hidden;
        padding: 5% 5%;
        background-color: black;
        color: white;
      }
      .add-to-card {
        position: absolute;
        width: 35px;
        height: auto;
        top: -7px;
        right: -7px;

        img {
          width: 100%;
          display: block;
        }
      }
  }
