.food-item
  .food-name
    |Название блюда хуйпизды<span>1000 гр</span>
    //- .food-description
    //-   |Бургер, картофель фри и соус.
  //- .food-img
  //-     img(src="../images/food_1.png") 
  .food-price
      input(type="button" class="add-to-card" value="Добавить за 100500 ₽")
  //- .add-to-card 
  //-   img(src="../images/plus_red.svg")
