.food-item
  .food-name
    |Название блюда <span>1000 гр</span>
    //- .food-description
    //-   |Бургер, картофель фри и соус.
  //- .food-img
  //-     img(src="../images/food_1.png") 
  .food-price
      a(href="/product.html")
        input(type="button" class="add-to-card" value="Добавить за 457 ₽")
        
  //- .add-to-card 
  //-   img(src="../images/plus_red.svg")
