@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700');

  .food {
    &-item {
      text-decoration: none;
      margin-left: 3%;
      margin-bottom: 2.87vh;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      width: 31.3%;
      min-height: 233.55px;
      position: relative;
      background: url("../images/food_1.png") center center no-repeat;
      background-size: cover;
      box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.2) inset, 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

      padding: 10px 10px;
        &:nth-child(3n-2) {
          margin-left: 0;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
    }

      &-name {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        text-align: left;
        color: white;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }

      &-weight {
        font-family: 'Roboto Slab', serif;
        color: white;
        font-size: 11px;
      }

      .add-to-card {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 10px;
        background-color: #e06464;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 3px;
      }
  }
