.food-item
  .food-name
    |Название блюда
    //- .food-description
    //-   |Бургер, картофель фри и соус.
  .food-img
      img(src="../images/food_1.png") 
  .food-price
      |457 ₽
  .add-to-card 
    img(src="../images/plus_red.svg")
