
<div class="container"> 
  <div class="order">
    <div class="order-title">Ваш заказ</div>
    <div class="order-list">
      <div class="order-item">
        <div class="del"><img src="./images/delete.svg"/></div>
        <div class="name">Название блюда</div>
        <div class="price">457 ₽</div>
        <div class="count">
          <input type="tel" value="1"/>
        </div>
        <div class="sum">457 ₽    </div>
      </div>
      <div class="order-item">
        <div class="del"><img src="./images/delete.svg"/></div>
        <div class="name">Название блюда</div>
        <div class="price">457 ₽</div>
        <div class="count">
          <input type="tel" value="1"/>
        </div>
        <div class="sum">457 ₽    </div>
      </div>
      <div class="order-item">
        <div class="del"><img src="./images/delete.svg"/></div>
        <div class="name">Название блюда</div>
        <div class="price">457 ₽</div>
        <div class="count">
          <input type="tel" value="1"/>
        </div>
        <div class="sum">457 ₽    </div>
      </div>
      <div class="order-item">
        <div class="del"><img src="./images/delete.svg"/></div>
        <div class="name">Название блюда</div>
        <div class="price">457 ₽</div>
        <div class="count">
          <input type="tel" value="1"/>
        </div>
        <div class="sum">457 ₽    </div>
      </div>
      <div class="order-item">
        <div class="del"><img src="./images/delete.svg"/></div>
        <div class="name">Название блюда</div>
        <div class="price">457 ₽</div>
        <div class="count">
          <input type="tel" value="1"/>
        </div>
        <div class="sum">457 ₽    </div>
      </div>
      <div class="order-item">
        <div class="del"><img src="./images/delete.svg"/></div>
        <div class="name">Название блюда</div>
        <div class="price">457 ₽</div>
        <div class="count">
          <input type="tel" value="1"/>
        </div>
        <div class="sum">457 ₽    </div>
      </div>
    </div>
    <div class="order-sum">Итого: 100500 ₽</div>
  </div>
</div>